{% extends "base.html" %} 

{% load static %}

{% block title %} About {% endblock %}

{% block content %}
    {{ block.super }}
    <div>
        <div>
            <h1>Страница автора</h1>
        </div>
        <div>
            <p>Имя: <b>{{user_dt.name}}</b></p>
        </div>
        <div>
            <p>Отчество: <b>{{user_dt.patronymic}}</b></p>
        </div>
        <div>
            <p>Фамилия: <b>{{user_dt.surname}}</b></p>
        </div>
        <div>
            <p>телефон: <b>{{user_dt.phone}}</b></p>
        </div>
        <div>
            <p>email: <b>{{user_dt.email}}</b></p>
        </div>
    </div>
{% endblock %}
